body{
	margin: 0;
	background-color: rgb(51,51,51);
	overflow: hidden;
}

#canvas{
	position: absolute;
	background-color: black;
	outline: 1px solid white;
}

.resizer{
	position: absolute;
	z-index: 1;
}